<!--<mat-accordion *ngIf="figures.length > 0">
    <mat-expansion-panel (closed)="collapsed()"
                         (opened)="expanded()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'scriptCalculator.Controls.Figures' | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>-->
<h1 mat-dialog-title>Figures</h1>
<div mat-dialog-content
     *ngIf="parameter && parameter.figures">
    <img *ngFor="let figure of parameter.figures"
         src="clientapp/uploads/parameters/{{figure.fileName}}"
         alt="Parameter picture" />
</div>
<div mat-dialog-actions>
    <button mat-button 
            (click)="onCloseClick()"
            cdkFocusInitial>Close</button>
    <!--<button mat-button [mat-dialog-close]="data.figures" cdkFocusInitial>Ok</button>-->
</div>
<!--    </mat-expansion-panel>
</mat-accordion>-->
