
.carousel-caption {
    background-color: #45454590;
    padding: 1em;
    padding-bottom: 1.5em;
    border-radius: 30px;
}

img {
    box-shadow: 10px 5px 5px black;
    border: 1px solid black;
    margin-bottom:5px;
}