<div class="mt-2 ml-5 mr-5">
    <h3>{{'about.Overall.Header' | translate}}</h3>
    <p>
        {{'about.Overall.Description' | translate}}
    </p>
</div>
<div class="m-5">
    <div>
        <h3>{{'about.SnowLoad.Header' | translate}}</h3>
        <p [innerHtml]="'about.SnowLoad.Description' | translate"></p>
        <ul>
            <li *ngFor="let position of 'about.SnowLoad.List'| translate">{{position}}</li>
        </ul>
    </div>
    <div>
        <h3>{{'about.DeadLoad.Header' | translate}}</h3>
        <p [innerHtml]="'about.DeadLoad.Description' | translate"></p>
    </div>
    <hr />
    <div>
        <h3>{{'about.Author.Header' | translate}}</h3>
        <p [innerHtml]="'about.Author.Description' | translate"></p>
    </div>
</div>