

<form (ngSubmit)="onSubmit($event)"
      [formGroup]="parameterForm">

    <h3>
        <span innerHTML="{{parameterName.value | html }}"></span> - {{parameterDescription.value}}
    </h3>

    <div class="full-width">
        <label id="parameter-type">{{'scriptsForm.Parameters.EditMode.ParameterTypePicker' | translate}}</label>
        <mat-radio-group aria-labelledby="parameter-type"
                         (change)="parameterTypeChanged()">
            <mat-radio-button class="ml-2"
                              #editable
                              [value]="context.editable">
                {{'scriptsForm.Parameters.EditMode.ParameterTypes.Editable' | translate}}
            </mat-radio-button>
            <mat-radio-button class="ml-2"
                              #static
                              [value]="context.staticData">
                {{'scriptsForm.Parameters.EditMode.ParameterTypes.Static' | translate}}
            </mat-radio-button>
            <mat-radio-button class="ml-2"
                              #calculable
                              [value]="context.calculation">
                {{'scriptsForm.Parameters.EditMode.ParameterTypes.Calculable' | translate}}
            </mat-radio-button>
        </mat-radio-group>

        <mat-checkbox (change)="parameterTypeChanged()"
                      [value]="context.visible"
                      class="ml-2"
                      #visible>
            {{'scriptsForm.Parameters.EditMode.ParameterTypes.Visible' | translate}}
        </mat-checkbox>
        <mat-checkbox (change)="parameterTypeChanged()"
                      [value]="context.important"
                      class="ml-2"
                      #important>
            {{'scriptsForm.Parameters.EditMode.ParameterTypes.Important' | translate}}
        </mat-checkbox>
        <mat-checkbox (change)="parameterTypeChanged()"
                      [value]="context.optional"
                      class="ml-2"
                      #optional>
            {{'scriptsForm.Parameters.EditMode.ParameterTypes.Optional' | translate}}
        </mat-checkbox>

    </div>

    <mat-form-field class="m-2">
        <input matInput
               required
               placeholder="{{'scriptsForm.Parameters.EditMode.Name.Header' | translate}}"
               formControlName="name"
               [errorStateMatcher]="matcher"
               autocomplete="off" />
        <mat-hint>{{'scriptsForm.Parameters.EditMode.Name.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterName && parameterName.hasError('maxlength') && !parameterName.hasError('required')">
            {{'scriptsForm.Parameters.EditMode.Name.MaxLengthError' | translate:parameterName.errors.maxlength}}
        </mat-error>
        <mat-error *ngIf="parameterName && parameterName.hasError('required')"
                   [innerHtml]="'scriptsForm.Parameters.EditMode.Name.RequiredError' | translate">
        </mat-error>
    </mat-form-field>

    <mat-form-field class="m-2">
        <input matInput
               placeholder="{{'scriptsForm.Parameters.EditMode.Unit.Header' | translate}}"
               formControlName="unit"
               [errorStateMatcher]="matcher"
               autocomplete="off" />
        <mat-hint>{{'scriptsForm.Parameters.EditMode.Unit.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterUnit && parameterUnit.hasError('maxlength')">
            {{'scriptsForm.Parameters.EditMode.Unit.MaxLengthError' | translate:parameterUnit.errors.maxlength}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="m-2">
        <input matInput
               placeholder="{{'scriptsForm.Parameters.EditMode.Document.Header' | translate}}"
               formControlName="accordingTo"
               [errorStateMatcher]="matcher"
               autocomplete="off" />
        <mat-hint>{{'scriptsForm.Parameters.EditMode.Document.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterDocument && parameterDocument.hasError('maxlength')">
            {{'scriptsForm.Parameters.EditMode.Document.MaxLengthError' | translate:parameterDocument.errors.maxlength}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="m-2">
        <mat-label>{{'scriptsForm.Parameters.EditMode.ValueType.Header' | translate}}</mat-label>
        <mat-select matNativeControl
                    formControlName="valueType"
                    required>
            <mat-option [value]="0">
                {{'scriptsForm.Parameters.EditMode.ValueType.Number'| translate}}
            </mat-option>
            <mat-option [value]="1">
                {{'scriptsForm.Parameters.EditMode.ValueType.Text'| translate}}
            </mat-option>
        </mat-select>
        <mat-hint>{{'scriptsForm.Parameters.EditMode.ValueType.Hint' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="m-2">
        <mat-label>{{'scriptsForm.Parameters.EditMode.GroupName.Header' | translate}}</mat-label>
        <input matInput
               placeholder="{{'scriptsForm.Parameters.EditMode.GroupName.Header' | translate}}"
               formControlName="groupName"
               [errorStateMatcher]="matcher"
               autocomplete="off" />
        <mat-hint>{{'scriptsForm.Parameters.EditMode.GroupName.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterGroupName && parameterGroupName.hasError('maxlength')">
            {{'scriptsForm.Parameters.EditMode.GroupName.MaxLengthError' | translate:parameterGroupName.errors.maxlength}}
        </mat-error>
    </mat-form-field>

    <!--<div contenteditable="true"
         [innerHtml]="parameterValue.value | html"></div>-->

    <mat-form-field class="m-2 full-width">
        <textarea matInput
                  #value
                  placeholder="{{'scriptsForm.Parameters.EditMode.Value.Header' | translate}}"
                  formControlName="value"
                  [errorStateMatcher]="matcher"
                  autocomplete="off"></textarea>
        <mat-hint>{{'scriptsForm.Parameters.EditMode.Value.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterValue && parameterValue.hasError('maxlength')">
            {{'scriptsForm.Parameters.EditMode.Value.MaxLengthError' | translate:parameterValue.errors.maxlength}}
        </mat-error>
    </mat-form-field>

    <div>
        <button mat-stroked-button
                *ngFor="let parameter of previousParameters"
                matTooltip="{{parameter.description}}"
                matTooltipPosition="below"
                innerHtml="{{parameter.name | html}} [{{parameter.unit | html}}]"
                type="button"
                (click)="select(parameter)"></button>
    </div>

    <div class="value-options-border p-2">
        <app-value-options-form [parameterForm]="parameterForm"></app-value-options-form>
    </div>

    <mat-form-field class="m-2 full-width">
        <textarea matInput
                  placeholder="{{'scriptsForm.Parameters.EditMode.Description.Header' | translate}}"
                  formControlName="description"
                  [errorStateMatcher]="matcher"
                  autocomplete="off"></textarea>
        <mat-hint>{{'scriptsForm.Parameters.EditMode.Description.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterDescription && parameterDescription.hasError('maxlength')">
            {{'scriptsForm.Parameters.EditMode.Description.MaxLengthError' | translate:parameterDescription.errors.maxlength}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="m-2 form-medium">
        <input matInput
               placeholder="{{'scriptsForm.Parameters.EditMode.VisibilityValidator.Header' | translate}}"
               formControlName="visibilityValidator"
               [errorStateMatcher]="matcher"
               autocomplete="off" />
        <mat-hint>{{'scriptsForm.Parameters.EditMode.VisibilityValidator.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterVisibilityValidator && parameterVisibilityValidator.hasError('maxlength')">
            {{'scriptsForm.Parameters.EditMode.VisibilityValidator.MaxLengthError' | translate:parameterVisibilityValidator.errors.maxlength}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="m-2 form-medium">
        <input matInput
               placeholder="{{'scriptsForm.Parameters.EditMode.DataValidator.Header' | translate}}"
               formControlName="dataValidator"
               [errorStateMatcher]="matcher"
               autocomplete="off" />
        <mat-hint>{{'scriptsForm.Parameters.EditMode.DataValidator.Hint' | translate}}</mat-hint>
        <mat-error *ngIf="parameterDataValidator && parameterDataValidator.hasError('maxlength')">
            {{'scriptsForm.Parameters.EditMode.DataValidator.MaxLengthError' | translate:parameterDataValidator.errors.maxlength}}
        </mat-error>
    </mat-form-field>

    <div class="value-options-border p-2 mb-3"
         *ngIf="parameterId.value > 0">
        <app-figure-parameter-form [parameterForm]="parameterForm"></app-figure-parameter-form>
    </div>

    <div class="full-width">
        <button mat-stroked-button
                color="accent"
                type="submit">
            {{ newlyAddedParameter ? ('scriptsForm.Parameters.Add' | translate) : ('scriptsForm.Parameters.EditMode.Update' | translate)}}
        </button>
    </div>
</form>
