<mat-form-field>
    <input matInput
           [required]="isRequired()"
           autocomplete="off"
           [ngClass]="parameter.name"
           [attr.type]="parameter.valueType == 0 ? 'number' : 'text'"
           [(ngModel)]="parameter.value"
           (change)="changeValue()">
    <mat-placeholder>
        <span [innerHtml]="parameter.name | html"></span>
    </mat-placeholder>
    <span matSuffix [innerHtml]="parameter.unit | html"></span>
</mat-form-field>
<p class="parameter-description">{{parameter.description}}</p>