<h2 class="mt-4 text-center"
    *ngIf="!editMode">
    {{'scriptsForm.Header' | translate}}
</h2>
<h2 class="mt-4 text-center"
    *ngIf="editMode">
    {{scriptName.value}}
</h2>

<form (ngSubmit)="onSubmit()"
      [formGroup]="scriptForm">
    <mat-tab-group dynamicHeight>

        <mat-tab label="{{'scriptsForm.ScriptData.Header' | translate}}">
            <div class="mat-elevation-z4">
                <script-data-form [scriptForm]="scriptForm"
                                  [includeNote]="includeNote"></script-data-form>
            </div>
        </mat-tab>

        <mat-tab label="{{'scriptsForm.Tags.Header' | translate}}">
            <div class="mat-elevation-z4">
                <tag-form [scriptForm]="scriptForm"></tag-form>
            </div>
        </mat-tab>

        <mat-tab label="{{'scriptsForm.Parameters.Header' | translate}}"
                 *ngIf="editMode">
            <div class="mat-elevation-z4">
                <app-parameters-form *ngIf="editMode"></app-parameters-form>
            </div>
        </mat-tab>

        <mat-tab label="{{'scriptsForm.Translations.Header' | translate}}">
            <div class="mat-elevation-z4">
                <app-translation-form [defaultLanguage]="scriptDefaultLanguage.value" 
                                      [scriptForm]="scriptForm"></app-translation-form>
            </div>
        </mat-tab>
    </mat-tab-group>
    
    <button mat-stroked-button
            color="accent"
            type="submit"
            [disabled]="!scriptForm.valid"
            class="mt-3 ml-3">
        {{editMode ? ('scriptsForm.UpdateScript' | translate) : ('scriptsForm.AddScript' | translate)}}
    </button>
</form>

