<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!parameters"><em>Loading...</em></p>

<table class='table' *ngIf="parameters">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Unit</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parameter of parameters">
      <td>{{ parameter.name }}</td>
      <td><input value="{{ parameter.value }}"/></td>
      <td>{{ parameter.unit }}</td>
      <td>{{ parameter.description }}</td>
    </tr>
  </tbody>
</table>

<button (click)="calculate()">Calculate</button>
