table{
    width: 100%;
}

.mat-hint {
    margin-bottom:10px;
    display:inline-block;
    align-content:flex-start;
}

.form-inline {
    transform: scale(0.9);
    transform-origin: left;
}

.parameter-description {
    color: rgba(255,255,255,.7);
    font-size: 87.5%;
}

.mat-form-field-paddings {
    padding-bottom: 0px;
}

.calculate{
    margin-top:10px;
}

mat-chip-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

mat-chip-list mat-chip {
    display: list-item;
    padding: 5px 10px;
    margin: 10px 3px 0px;
}