
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'scriptsForm.Parameters.Figures.Header' | translate}}
            </mat-panel-title>
            <mat-panel-description>
                {{'scriptsForm.Parameters.Figures.Hint' | translate}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <input type="file"
               (change)="uploadFigure()"
               #fileInput />

        <div class="mt-1">
            <!--<button mat-raised-button (click)="pickExistingDialog()">Pick existing</button>-->
            <div *ngFor="let figure of figures">
                <img src="clientapp/uploads/parameters/{{figure.fileName}}"
                     alt="Parameter picture" />
                <button mat-stroked-button
                        color="warn"
                        type="button"
                        (click)="remove(figure)">
                    {{'scriptsForm.Parameters.Figures.Remove' | translate}}
                </button>
                <p>Test</p>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>