
<mat-card class="flex-grow-1">
    <mat-card-header>
        <div mat-card-avatar class="script-header-image"></div>
        <mat-card-title>{{ script.name }}</mat-card-title>
        <mat-card-subtitle>{{ script.accordingTo }}</mat-card-subtitle>
    </mat-card-header>
    <div mat-card-image>
        <ul>
            <li class="small"
                *ngFor="let tag of script.tags">{{tag.name}}</li>
        </ul>
    </div>
    <!--<img mat-card-image
         src="https://lorempixel.com/300/300/?random={{script.id}}"
         title="{{script.name}}"
         alt="{{script.name}}">-->
    <mat-card-content>
        <p class="mb-4">
            {{script.description }}
        </p>
    </mat-card-content>
    <mat-card-actions class="footer">
        <div class="actions">
            <button mat-stroked-button
                    [routerLink]="['/scripts/calculator', script.id]">
                <span class="fa fa-calculator"></span> Calculate
            </button>
            <button mat-stroked-button
                    [routerLink]="['/scripts/edit', script.id]">
                <span class="fa fa-edit"></span> Edit
            </button>
        </div>
            <button mat-stroked-button 
                    color="warn"
                    class="float-right"
                    (click)="delete(script)">
                <span class="fa fa-remove"></span> Delete
            </button>
    </mat-card-actions>
</mat-card>