<div *ngIf="!editMode">
    <div class="m-4">
        <label id="parameters-type-filter">Select parameters:</label>
        <mat-radio-group aria-labelledby="parameters-type-filter"
                         [(ngModel)]="parametersToShow"
                         (change)="onParametersToShowChange()">
            <mat-radio-button value="all"
                              class="ml-2">All parameters</mat-radio-button>
            <mat-radio-button value="data"
                              class="ml-2">Data parameters</mat-radio-button>
            <mat-radio-button value="static"
                              class="ml-2">Static parameters</mat-radio-button>
            <mat-radio-button value="calculation"
                              class="ml-2">Calculation parameters</mat-radio-button>
        </mat-radio-group>
    </div>

    <div cdkDropList
         class="parameters-list"
         (cdkDropListDropped)="drop($event)">
        <div class="parameter-in-list"
             *ngFor="let parameter of sortParameters(filteredParameters, 'number')"
             cdkDrag>
            <div class="parameter-placeholder"
                 *cdkDragPlaceholder></div>
            <div class="parameter-container"
                 [ngClass]="{'selected-parameter' : parameter == newParameter}">
                <div class="ml-3 parameter-data">
                    <b class="parameter-name"
                       [innerHTML]="parameter.name | html"></b> - {{parameter.description}}
                </div>

                <div class="parameter-options">
                    <button mat-stroked-button
                            class="ml-2"
                            (click)="editParameter(parameter)">
                        Edit
                    </button>
                    <button mat-stroked-button
                            class="ml-2"
                            (click)="remove(parameter.id)"
                            color="warn">
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>

    <button mat-stroked-button
            color="accent"
            class="m-3"
            (click)="addNewParameter()">
        New parameter
    </button>
</div>

<div class="m-3"
     *ngIf="editMode">
    <button mat-fab
            color="primary"
            (click)="changeEditMode()">
        <span class="fa fa-backward"></span>
    </button>

    <div class="container"
         *ngIf="editMode">
        <app-data-parameter-form [newlyAddedParameter]="newlyAddedParameter"
                                 [scriptId]="scriptId"
                                 [newParameter]="newParameter"
                                 (created)="onCreated($event)"></app-data-parameter-form>
    </div>
</div>