<h3>
    <span innerHTML="{{newParameter.name | html}}"></span> - {{newParameter.description}}
</h3>
<form (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="form-group form-inline">
            <input type="radio"
                   value="data"
                   id="dataType"
                   [(ngModel)]="type"
                   name="dataType"
                   class="ml-3" />
            <label for="dataType"> Data</label>
            <input type="radio"
                   value="static"
                   id="staticType"
                   [(ngModel)]="type"
                   name="staticType"
                   class="ml-3" />
            <label for="staticType"> Static</label>
            <input type="radio"
                   value="calculation"
                   id="calculationType"
                   [(ngModel)]="type"
                   name="calculationType"
                   class="ml-3" />
            <label for="calculationType"> Calculation</label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-7 col-lg-3">
            <label for="parameterName">Name</label>
            <input type="text"
                   class="form-control"
                   id="parameterName"
                   placeholder="Name"
                   [(ngModel)]="newParameter.name"
                   name="name"
                   autocomplete="off">
        </div>
        <div class="form-group col-sm-6 col-md-5 col-lg-3">
            <label for="parameterUnit">Unit</label>
            <input type="text"
                   class="form-control"
                   id="parameterUnit"
                   placeholder="Unit"
                   [(ngModel)]="newParameter.unit"
                   name="unit"
                   autocomplete="off">
        </div>
        <div class="form-group col-sm-6 col-md-7 col-lg-3">
            <label for="parameterDocument">Document</label>
            <input type="text"
                   class="form-control"
                   id="parameterDocument"
                   placeholder="Document"
                   [(ngModel)]="newParameter.accordingTo"
                   name="document"
                   autocomplete="off">
        </div>
        <div class="form-group col-sm-6 col-md-5 col-lg-3">
            <label for="parameterValueType">Value Type</label>
            <select class="form-control"
                    id="parameterValueType"
                    placeholder="Number"
                    [(ngModel)]="newParameter.valueType"
                    name="valueType">
                <option value="0">Number</option>
                <option value="1">Text</option>
            </select>
        </div>
        <div class="form-group"
             [ngClass]="(type=='calculation') ? 'col-md-12' : 'col-sm-6 col-md-5 col-lg-3'">
            <label for="parameterValue">Value</label>
            <textarea class="form-control"
                      id="parameterValue"
                      rows="2"
                      [(ngModel)]="newParameter.value"
                      name="value"
                      placeholder="Value"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <label for="parameterDescription">Description</label>
            <textarea class="form-control"
                      id="parameterDescription"
                      rows="2"
                      placeholder="Description"
                      [(ngModel)]="newParameter.description"
                      name="description"></textarea>
        </div>
    </div>
    <div class="row"
         *ngIf="type != 'static'">
        <div class="form-group col-md-8">
            <label for="parameterDataValidator">Data Validator</label>
            <textarea class="form-control"
                      id="parameterDataValidator"
                      rows="2"
                      [(ngModel)]="newParameter.dataValidator"
                      name="dataValidator"
                      placeholder="Data validator"></textarea>
        </div>
    </div>
    <div class="row" 
         *ngIf="type == 'data'">
        <div class="form-group col-md-4">
            <label class="d-block">Value Options</label>
            <button class="btn btn-primary"
                    (click)="addValueOption()">
                Add value option
            </button>
        </div>
    </div>
    <div class="row" 
         *ngIf="type == 'data'">
        <div class="form-group col-sm-6 col-md-5 col-lg-3"
             *ngFor="let valueOption of newParameter.valueOptions">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="parameterValueOption"
                       placeholder="Value option"
                       [(ngModel)]="valueOption.value"
                       name="valueOption{{valueOption.value}}"
                       autocomplete="off">
                <span class="input-group-append">
                    <button class="btn btn-danger"
                            (click)="removeValueOption(valueOption)">
                        <span class="fa fa-remove"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <button type="submit"
            class="btn btn-primary mt-3">
        {{ editMode ? 'Update' : 'Add'}}
    </button>
</form>