<mat-form-field>
    <mat-label [innerHtml]="parameter.name | html"></mat-label>
    <mat-select [(ngModel)]="parameter.value"
                required
                (selectionChange)="changeValue()">
        <mat-option *ngFor="let valueOption of parameter.valueOptions"
                    [value]="valueOption.value">
            {{valueOption.name }}
        </mat-option>
    </mat-select>
    <span matSuffix [innerHtml]="parameter.unit | html"></span>
</mat-form-field>
<p class="parameter-description">{{parameter.description}}</p>