    <div *ngIf="parameter.valueOptions.length == 0; else valueOptions">
        <parameter-input [parameter]="parameter"
                         (valueChanged)="onValueChanged($event)"></parameter-input>
    </div>

    <ng-template #valueOptions>

        <div *ngIf="parameter.valueOptionSetting == valueOptionSetting.UserInput; else fixedValueOptions">
            <parameter-autocomplete [parameter]="parameter"
                                    (valueChanged)="onValueChanged($event)"></parameter-autocomplete>
        </div>

        <ng-template #fixedValueOptions>
            <div class="form-inline"
                 *ngIf="parameter.valueOptions.length > 0 && parameter.valueOptions.length <= 3">
                <parameter-radio [parameter]="parameter"
                                 (valueChanged)="onValueChanged($event)"></parameter-radio>
            </div>

            <div *ngIf="parameter.valueOptions.length > 3">
                <parameter-select [parameter]="parameter"
                                  (valueChanged)="onValueChanged($event)"></parameter-select>
            </div>
        </ng-template>

    </ng-template>