<h2>Parameters</h2>

<div class="m-4">
    <select [(ngModel)]="parametersToShow"
            (change)="onParametersToShowChange()">
        <option value="all">All parameters</option>
        <option value="data">Data parameters</option>
        <option value="static">Static parameters</option>
        <option value="calculation">Calculation parameters</option>
    </select>
</div>

<div class="border-dark"
     [ngClass]="{'alert alert-info' : parameter == newParameter}"
     *ngFor="let parameter of sortParameters(filteredParameters, 'number')">
    <div class="list-group-item">
        <span [innerHTML]="parameter.name | html"></span> - {{parameter.description}}
        <button (click)="remove(parameter.id)"
                type="button"
                class="btn btn-danger float-right">
            Remove
        </button>
        <button (click)="editParameter(parameter)"
                type="button"
                class="btn btn-info float-right mr-2">
            Edit
        </button>
        <button (click)="moveDown(parameter)"
                type="button"
                class="btn btn-info float-right">
            Up
        </button>
        <button (click)="moveUp(parameter)"
                type="button"
                class="btn btn-info float-right">
            Down
        </button>
    </div>
</div>

<div class="btn-group btn-group-toggle m-3" *ngIf="editMode">
    <label>
        <input type="checkbox"
               [(ngModel)]="editMode"
               (change)="changeEditMode()" /> Edit mode
    </label>
</div>

<div class="container">
    <app-data-parameters-form [editMode]="editMode"
                              [scriptId]="scriptId"
                              [newParameter]="newParameter"
                              (created)="onCreated($event)"></app-data-parameters-form>
</div>