<h2>Parameters</h2>

<div class="m-4">
    <select [(ngModel)]="parametersToShow"
            (change)="onParametersToShowChange()">
        <option value="all">All parameters</option>
        <option value="data">Data parameters</option>
        <option value="static">Static parameters</option>
        <option value="calculation">Calculation parameters</option>
    </select>
</div>

<div class="border-dark" *ngFor="let parameter of filteredParameters">
    <p class="list-group-item">
        <span [innerHTML]="parameter.name | html"></span> - {{parameter.description}}
        <button (click)="remove(parameter.id)"
                type="button"
                class="btn btn-danger float-right">
            Remove
        </button>
        <button (click)="editParameter(parameter)"
                type="button"
                class="btn btn-info float-right mr-2">
            Edit
        </button>
    </p>
</div>


<div class="container">
    <app-data-parameters-form [editMode]="editMode"
                              [scriptId]="scriptId"
                              [newParameter]="newParameter"></app-data-parameters-form>
</div>