<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand font-weight-bold"
       [routerLink]='["/"]'><span class="fa fa-building-o"></span>BUILD IT</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"
                [routerLinkActive]='["active"]'
                [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link"
                   [routerLink]='["/home"]'>
                    <span class="fa fa-home"></span> {{'app.Home' | translate}} <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item"
                [routerLinkActive]='["active"]'
                [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link"
                   [routerLink]="['/scripts/new']">
                    <span class="fa fa-file-code"></span> {{'app.NewScript' | translate}}
                </a>
            </li>
            <li class="nav-item dropdown"
                [routerLinkActive]='["active"]'>
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span class="fa fa-arrow-down"></span> {{'app.Loads.Header' | translate}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       [routerLink]="['/deadloads']">
                        <span class="fa fa-building"></span> {{'app.Loads.DeadLoads' | translate}}
                    </a>
                    <a class="dropdown-item"
                       [routerLink]="['/snowloads']">
                        <span class="fa fa-snowman"></span> {{'app.Loads.SnowLoads' | translate}}
                    </a>
                    <!--<div class="dropdown-divider"></div>-->
                </div>
            </li>

            <li class="nav-item"
                [routerLinkActive]='["active"]'
                [routerLinkActiveOptions]='{ exact: true }'>
                <a class="nav-link"
                   [routerLink]="['/about']">
                    <span class="fa fa-user-circle"></span> {{'app.About' | translate}}
                </a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0"
              (ngSubmit)="onSearch()"
              [formGroup]="searchForm">
            <input class="form-control mr-sm-2"
                   type="search"
                   formControlName="search"
                   placeholder="{{'app.Search' | translate}}"
                   aria-label="Search">
            <button mat-stroked-button
                    color="accent"
                    type="submit">
                {{'app.Search' | translate}}
            </button>           
        </form>


        <select id="language"
                [(ngModel)]="configurations.language"
                #languageSelector="element-select"
                elementSelect
                class="selectpicker form-control smaller ml-3">
            <option data-subtext="(Default)"
                    value="en">
                {{'app.Languages.English' | translate}}
            </option>
            <option value="pl">{{'app.Languages.Polish' | translate}}</option>
            <option value="de">{{'app.Languages.German' | translate}}</option>
        </select>
    </div>
</nav>
