
  <div *ngIf="script">
    <div class="text-center">
      <h1>{{script.name}}</h1>
    </div>

    <p class="ml-2">{{script.description}}</p>
    <ul>
      <li *ngFor="let tag of script.tags">
        {{tag.name}}
      </li>
    </ul>

    <div *ngIf="!visibleParameters">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="staticDataParameters && staticDataParameters.length > 0">
      <h5 class="ml-2">{{'scriptCalculator.StaticData' | translate}}</h5>
      <mat-list dense>
        <div *ngFor="let parameter of staticDataParameters">
          <parameter-result [parameter]="parameter"></parameter-result>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </div>

    <button mat-stroked-button
            color="warn"
            class="clean"
            type="button"
            (click)="clean()">
      <span class="fa fa-backward"></span> {{'scriptCalculator.Clean' | translate}}
    </button>

    <div class="mt-2">
      <div *ngFor="let parameter of notGroupedParameters"
           class="list-inline-item ml-5 d-inline-flex">
        <parameter-form [parameter]="parameter"
                        (valueChanged)="onValueChanged($event)"></parameter-form>
      </div>


      <mat-accordion>
        <div *ngFor="let group of groups">
          <mat-expansion-panel *ngIf="group.parameters.length > 0">
            <mat-expansion-panel-header >
              <mat-panel-title>
                {{group.group.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ul class="list-inline m-0">
              <li *ngFor="let parameter of group.parameters"
                  class="list-inline-item ml-5 d-inline-flex">
                <parameter-form [parameter]="parameter"
                                (valueChanged)="onValueChanged($event)"></parameter-form>
              </li>
            </ul>

          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>


    <div class="text-center"
         *ngIf="visibleParameters">

      <mat-chip-list aria-label="Error list"
                     class="list-horizontal"
                     *ngIf="errorMessages">
        <mat-chip *ngFor="let errorMessage of errorMessages"
                  [innerHtml]="errorMessage | html"
                  color="warn"
                  selected></mat-chip>
      </mat-chip-list>

      <button mat-stroked-button
              color="accent"
              class="calculate"
              type="button"
              [disabled]="!isValid()"
              (click)="calculate()">
        <span class="fa fa-calculator"></span> {{'scriptCalculator.Calculate' | translate}}
      </button>
    </div>

    <div *ngIf="isCalculating"
         class="mt-2">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>

    <div *ngIf="resultParameters && !valueChanged">
      <h3 class="ml-5">{{'scriptCalculator.Results' | translate}}</h3>
      <mat-list dense>
        <div *ngFor="let parameter of notGroupedResultParameters">
          <parameter-result [parameter]="parameter"></parameter-result>
          <mat-divider></mat-divider>
        </div>
        <div *ngFor="let group of groupsResultParameters">
          <h5 class="ml-2">{{group.group.name}}</h5>
          <div *ngFor="let parameter of group.parameters">
            <parameter-result [parameter]="parameter"
                              class="ml-2"></parameter-result>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-list>
    </div>
  </div>

<hr/>
<chart-result [parameters]="parameters"
              [script]="script"
              class="text-center"></chart-result>
