@model KPK_CalcSite.ViewModels.SnowLoadsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h3>Select proper roof type</h3>
<div class="row">
    <div class="col-md-6">
        <div class="snow-load-case">
            <a href="@Url.Action("MonopitchRoof", "SnowLoads")">
                <img class="snow-load-link" src="~/Content/Images/SnowLoads/Monopitch.png" alt="Monopitch Roof"/>
            </a>
        </div>
            <img class="snow-load-link" src="~/Content/Images/SnowLoads/PitchedRoof.png" />
            <img class="snow-load-link" src="~/Content/Images/SnowLoads/MultispanRoof.png" />
    </div>
    <div class="col-md-6">
        <img class="snow-load-link" src="~/Content/Images/SnowLoads/CylindricalRoof.png" />
        <img class="snow-load-link" src="~/Content/Images/SnowLoads/CylindricalRoof.png" />
        <img class="snow-load-link" src="~/Content/Images/SnowLoads/CylindricalRoof.png" />
    </div>
</div>




