<h2 class="mt-4 text-center"
    *ngIf="!editMode">
    Script
</h2>
<h2 class="mt-4 text-center"
    *ngIf="editMode">
    {{scriptName.value}}
</h2>

<form (ngSubmit)="onSubmit()"
      [formGroup]="scriptForm">
    <mat-tab-group dynamicHeight>

        <mat-tab label="Script data">
            <div class="mat-elevation-z4">
                <script-data-form [scriptForm]="scriptForm"
                                  [includeNote]="includeNote"></script-data-form>
            </div>
        </mat-tab>

        <mat-tab label="Tags">
            <div class="mat-elevation-z4">
                <tag-form [scriptForm]="scriptForm"></tag-form>
            </div>
        </mat-tab>

        <mat-tab label="Parameters">
            <div class="mat-elevation-z4">
                <app-parameters-form *ngIf="editMode"></app-parameters-form>
            </div>
        </mat-tab>

    </mat-tab-group>
    
    <button mat-stroked-button
            color="accent"
            *ngIf="!editMode"
            type="submit"
            [disabled]="!scriptForm.valid"
            class="mt-3 ml-3">
        Add Script
    </button>
    <button mat-stroked-button
            color="accent"
            *ngIf="editMode"
            type="submit"
            [disabled]="!scriptForm.valid"
            class="mt-3 ml-3">
        Update Script
    </button>
</form>

