<div class="container">
    <form (ngSubmit)="onSubmit()"
          [formGroup]="scriptForm">
        <h2>Script</h2>
        <div class="row">
            <div class="form-group col-md-7 col-lg-3">
                <label for="scriptName">Name</label>
                <input type="text"
                       class="form-control"
                       id="scriptName"
                       formControlName="name"
                       autocomplete="off"
                       placeholder="Name">
                <div *ngIf="scriptName.touched && scriptName.invalid"
                     class="alert alert-danger">
                    <div *ngIf="scriptName.errors.required">Name is required.</div>
                    <div *ngIf="scriptName.errors.minlength">Name should be minimum {{ scriptName.errors.minlength.requiredLength }} characters.</div>
                    <div *ngIf="scriptName.errors.maxlength">Name should be maximum {{ scriptName.errors.maxlength.requiredLength }} characters.</div>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-5 col-lg-3">
                <label for="scriptAuthor">Author</label>
                <input type="text"
                       class="form-control"
                       id="scriptAuthor"
                       formControlName="author"
                       placeholder="Author"
                       autocomplete="off">
                <div *ngIf="scriptAuthor.touched && scriptAuthor.invalid"
                     class="alert alert-danger">
                    <div *ngIf="scriptAuthor.errors.maxlength">Author should be maximum {{ scriptAuthor.errors.maxlength.requiredLength }} characters.</div>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-7 col-lg-3">
                <label for="scriptAccordingTo">Document</label>
                <input type="text"
                       class="form-control"
                       id="scriptAccordingTo"
                       formControlName="accordingTo"
                       placeholder="Document"
                       autocomplete="off">
                <div *ngIf="scriptDocument.touched && scriptDocument.invalid"
                     class="alert alert-danger">
                    <div *ngIf="scriptDocument.errors.maxlength">Document should be maximum {{ scriptDocument.errors.maxlength.requiredLength }} characters.</div>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-5 col-lg-3">
                <label for="scriptGroup">Group</label>
                <select class="form-control"
                        id="scriptGroup"
                        formControlName="groupName"
                        placeholder="Group">
                    <option class="font-weight-bold">Eurocode 0</option>
                    <option class="font-weight-bold">Eurocode 1</option>
                    <option class="font-weight-bold">Eurocode 2</option>
                    <option class="font-weight-bold">Eurocode 3</option>
                    <option class="font-weight-bold">Eurocode 4</option>
                    <option class="font-weight-bold">Eurocode 5</option>
                    <option class="font-weight-bold">Eurocode 6</option>
                    <option class="font-weight-bold">Eurocode 7</option>
                    <option class="font-weight-bold">Eurocode 8</option>
                    <option class="font-weight-bold">Eurocode 9</option>
                    <option class="font-weight-bold">Other</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="scriptDescription">Description</label>
                <textarea class="form-control"
                          id="scriptDescription"
                          rows="3"
                          formControlName="description"
                          placeholder="Description"></textarea>
                <div *ngIf="scriptDescription.touched && scriptDescription.invalid"
                     class="alert alert-danger">
                    <div *ngIf="scriptDescription.errors.required">Description is required.</div>
                    <div *ngIf="scriptDescription.errors.minlength">Description should be minimum {{ scriptDescription.errors.minlength.requiredLength }} characters.</div>
                    <div *ngIf="scriptDescription.errors.maxlength">Description should be maximum {{ scriptDescription.errors.maxlength.requiredLength }} characters.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           data-toggle="toggle"
                           class="custom-control-input"
                           id="scriptNoteIncluded"
                           [checked]="checked "
                           (change)="checked = !checked">
                    <label class="custom-control-label" for="scriptNoteIncluded">Include note</label>
                </div>
            </div>
            <div *ngIf="checked" class="form-group col-lg-11">
                <textarea class="form-control"
                          id="scriptNote"
                          rows="2"
                          formControlName="notes"
                          placeholder="Note"></textarea>
            </div>
            <div *ngIf="scriptNotes.touched && scriptNotes.invalid"
                 class="alert alert-danger">
                <div *ngIf="scriptNotes.errors.maxlength">Note should be maximum {{ scriptNotes.errors.maxlength.requiredLength }} characters.</div>
            </div>
        </div>

        <!--<app-tag-form [script]="script"></app-tag-form>-->

        <button *ngIf="!editMode"
                type="submit"
                [disabled]="!scriptForm.valid"
                class="btn btn-primary mt-3">
            Add Script
        </button>
        <button *ngIf="editMode"
                type="submit"
                [disabled]="!scriptForm.valid"
                class="btn btn-primary mt-3">
            Update Script
        </button>
    </form>

    <app-parameters-form *ngIf="editMode"></app-parameters-form>
</div>