<div class="container">
    <form>
        <h2>Script</h2>
        <div class="row">
            <div class="form-group col-md-7 col-lg-3">
                <label for="scriptName">Name</label>
                <input type="text" class="form-control" id="scriptName" placeholder="Name">
            </div>
            <div class="form-group col-sm-6 col-md-5 col-lg-3">
                <label for="scriptAuthor">Author</label>
                <input type="text" class="form-control" id="scriptAuthor" placeholder="Author">
            </div>
            <div class="form-group col-sm-6 col-md-7 col-lg-3">
                <label for="scriptAccordingTo">Document</label>
                <input type="text" class="form-control" id="scriptAccordingTo" placeholder="Document">
            </div>
            <div class="form-group col-sm-6 col-md-5 col-lg-3">
                <label for="scriptGroup">Group</label>
                <select class="form-control" id="scriptGroup" placeholder="Group">
                    <option class="font-weight-bold">Eurocode 0</option>
                    <option class="font-weight-bold">Eurocode 1</option>
                    <option class="font-weight-bold">Eurocode 2</option>
                    <option class="font-weight-bold">Eurocode 3</option>
                    <option class="font-weight-bold">Eurocode 4</option>
                    <option class="font-weight-bold">Eurocode 5</option>
                    <option class="font-weight-bold">Eurocode 6</option>
                    <option class="font-weight-bold">Eurocode 7</option>
                    <option class="font-weight-bold">Eurocode 8</option>
                    <option class="font-weight-bold">Eurocode 9</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="scriptDescription">Description</label>
                <textarea class="form-control" id="scriptDescription" rows="3" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3">
                <button type="button" class="btn btn-info" (click)="addTag()">Add tag</button>
            </div>
            <div class="form-group col-xl-11 col-lg-10 col-md-10 col-sm-9 col-9">
                <button type="button" class="btn btn-danger" (click)="removeTag()">Remove Last</button>
            </div>
        </div>
        <label *ngIf="counter > 0">Tags</label>
        <div class="row" id="tags">
        </div>
        <div class="row">
            <div class="col-lg-1">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           data-toggle="toggle"
                           class="custom-control-input"
                           id="scriptNoteIncluded"
                           [checked]="checked"
                           (change)="checked = !checked">
                    <label class="custom-control-label" for="scriptNoteIncluded">Include note</label>
                </div>
            </div>
            <div *ngIf="checked" class="form-group col-lg-11">
                <textarea class="form-control" id="scriptNote" rows="2" placeholder="Note"></textarea>
            </div>
        </div>

        <h2>Parameters</h2>
        <label for="dataParameters" class="radio-inline ml-3">
            <input type="radio"
                   name="parametersType"
                   id="dataParameters"
                   value="dataParameters"
                   [(ngModel)]="parametersToShow" /> Data Parameters
        </label>
        <label for="staticParameters" class="radio-inline ml-3">
            <input type="radio"
                   name="parametersType"
                   id="staticParameters"
                   value="staticParameters"
                   [(ngModel)]="parametersToShow" /> Static Parameters
        </label>
        <label for="calculationParameters" class="radio-inline ml-3">
            <input type="radio"
                   name="parametersType"
                   id="calculationParameters"
                   value="calculationParameters"
                   [(ngModel)]="parametersToShow" /> Calculation Parameters
        </label>

        <div class="data-parameter" *ngIf="parametersToShow == 'dataParameters'">
            <div class="row">
                <div class="form-group col-md-7 col-lg-3">
                    <label for="parameterName">Name</label>
                    <input type="text" class="form-control" id="parameterName" placeholder="Name">
                </div>
                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                    <label for="parameterUnit">Unit</label>
                    <input type="text" class="form-control" id="parameterUnit" placeholder="Unit">
                </div>
                <div class="form-group col-sm-6 col-md-7 col-lg-3">
                    <label for="parameterDocument">Document</label>
                    <input type="text" class="form-control" id="parameterDocument" placeholder="Document">
                </div>
                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                    <label for="parameterValueType">Value Type</label>
                    <select class="form-control" id="parameterValueType" placeholder="Number">
                        <option>Number</option>
                        <option>Text</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="parameterDescription">Description</label>
                    <textarea class="form-control" id="parameterDescription" rows="2" placeholder="Description"></textarea>
                </div>
            </div>
        </div>

        <div class="data-parameter" *ngIf="parametersToShow == 'staticParameters'">
            <div class="row">
                <div class="form-group col-md-7 col-lg-3">
                    <label for="staticParameterName">Name</label>
                    <input type="text" class="form-control" id="staticParameterName" placeholder="Name">
                </div>
                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                    <label for="staticParameterUnit">Unit</label>
                    <input type="text" class="form-control" id="staticParameterUnit" placeholder="Unit">
                </div>
                <div class="form-group col-sm-6 col-md-7 col-lg-3">
                    <label for="staticParameterDocument">Document</label>
                    <input type="text" class="form-control" id="staticParameterDocument" placeholder="Document">
                </div>
                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                    <label for="staticParameterValueType">Value Type</label>
                    <select class="form-control" id="staticParameterValueType" placeholder="Number">
                        <option>Number</option>
                        <option>Text</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-lg-3">
                    <label for="staticParameterName">Value</label>
                    <input type="text" class="form-control" id="staticParameterValue" placeholder="Value">
                </div>
                <div class="form-group col-md-8 col-lg-9">
                    <label for="staticParameterDescription">Description</label>
                    <textarea class="form-control" id="staticParameterDescription" rows="2" placeholder="Description"></textarea>
                </div>
            </div>
        </div>

        <div class="data-parameter" *ngIf="parametersToShow == 'calculationParameters'">
            <div class="row">
                <div class="form-group col-md-7 col-lg-3">
                    <label for="calculationParameterName">Name</label>
                    <input type="text" class="form-control" id="calculationParameterName" placeholder="Name">
                </div>
                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                    <label for="calculationParameterUnit">Unit</label>
                    <input type="text" class="form-control" id="calculationParameterUnit" placeholder="Unit">
                </div>
                <div class="form-group col-sm-6 col-md-7 col-lg-3">
                    <label for="calculationParameterDocument">Document</label>
                    <input type="text" class="form-control" id="calculationParameterDocument" placeholder="Document">
                </div>
                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                    <label for="calculationParameterValueType">Value Type</label>
                    <select class="form-control" id="calculationParameterValueType" placeholder="Number">
                        <option>Number</option>
                        <option>Text</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="calculationParameterName">Value</label>
                    <textarea class="form-control" id="calculationParameterDescription" rows="2" placeholder="Value"></textarea>
                </div>
                <div class="form-group col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="calculationParameterDescription">Description</label>
                    <textarea class="form-control" id="calculationParameterDescription" rows="2" placeholder="Description"></textarea>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add Script</button>
    </form>
</div>