<mat-form-field class="w-75 m-2">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let tagForm of scriptTags.controls"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tagForm)">
            {{tagForm.value.name}}
            <span matChipRemove
                  *ngIf="removable"
                  class="fa fa-remove"></span>
        </mat-chip>
        <input placeholder="{{'scriptsForm.Tags.AddNewTags' | translate}}"
               #tagInput
               [attr.disabled]="scriptTags.controls.length > 5 || null"
               [formControl]="tagCtrl"
               [matAutocomplete]="auto"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" 
                      (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async"
                    [value]="tag.name">
            {{tag.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>