<h1 mat-dialog-title>Pictures</h1>
<div mat-dialog-content>
    <p>Select proper picture:</p>
    <mat-form-field>
        <img *ngFor="let figure of figures"
             src="clientapp/uploads/{{parameterId.value}}/{{figure.fileName}}"
             alt="Parameter picture" />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button 
            (click)="onNoClick()">No Thanks</button>
    <button mat-button 
            [mat-dialog-close]="data" 
            cdkFocusInitial>Ok</button>
</div>