
<div *ngIf="script">
    <div class="text-center">
        <h1>{{script.name}}</h1>
    </div>

    <p>{{script.description}}</p>
    <ul>
        <li *ngFor="let tag of script.tags">
            {{tag.name}}
        </li>
    </ul>
    <p *ngIf="!parameters"><em>Loading...</em></p>

    <table class='table' *ngIf="parameters">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Unit</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parameter of sortParameters(visibleParameters, 'number')">
                <td [innerHTML]="parameter.name | html"></td>
                <td>
                    <div *ngIf="parameter.context % (2 * parameterOptions.Editable) >= parameterOptions.Editable">
                        <input *ngIf="parameter.valueOptions.length == 0 || parameter.valueOptionSetting == valueOptionSetting.UserInput"
                               [(ngModel)]="parameter.value"
                               placeholder="value"
                               (change)="setValueChanged(parameter)" />
                        <div class="form-inline"
                             *ngIf="parameter.valueOptions.length > 0 && parameter.valueOptions.length <= 3">
                            <label *ngFor="let valueOption of parameter.valueOptions; index as i">
                                <input type="radio"
                                       value="{{valueOption.value}}"
                                       id="{{parameter.id}}_valueOption{{i}}"
                                       [(ngModel)]="parameter.value"
                                       name="{{parameter.id}}_valueOption{{i}}"
                                       (change)="setValueChanged(parameter)" />
                                <label class="ml-1 mr-3"
                                       for="{{parameter.id}}_valueOption{{i}}">{{valueOption.value }}</label>
                            </label>
                        </div>
                        <select *ngIf="parameter.valueOptions.length > 3"
                                [(ngModel)]="parameter.value"
                                (change)="setValueChanged(parameter)">
                            <option *ngFor="let valueOption of parameter.valueOptions">
                                {{valueOption.value }}
                            </option>
                        </select>
                    </div>
                    <span *ngIf="parameter.context % (2 * parameterOptions.Calculation) >= parameterOptions.Calculation">{{parameter.value }}</span>
                </td>
                <td [innerHTML]="parameter.unit | html"></td>
                <td>{{ parameter.description }}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="calculate()">Calculate</button>

    <table class='table' *ngIf="resultParameters && !valueChanged">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Unit</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parameter of resultParameters"
                [ngClass]="{'table table-warning': isImportant(parameter)}">
                <td [innerHTML]="parameter.name | html"></td>
                <td>
                    <div *ngIf="parameter.context % (2 * parameterOptions.Editable) >= parameterOptions.Editable">
                        <input *ngIf="parameter.valueOptions.length == 0"
                               [(ngModel)]="parameter.value"
                               placeholder="value" />
                        <select *ngIf="parameter.valueOptions.length > 0"
                                [(ngModel)]="parameter.value">
                            <option *ngFor="let valueOption of parameter.valueOptions"
                                    value="{{valueOption.value}}">
                                {{valueOption.value }}
                            </option>
                        </select>
                    </div>
                    <span *ngIf="parameter.context % (2 * parameterOptions.Calculation) >= parameterOptions.Calculation">{{parameter.value }}</span>
                </td>
                <td [innerHTML]="parameter.unit | html"></td>
                <td>{{ parameter.description }}</td>
            </tr>
        </tbody>
    </table>
</div>
