
<div *ngIf="script">
    <div class="text-center">
        <h1>{{script.name}}</h1>
    </div>

    <p>{{script.description}}</p>
    <ul>
        <li *ngFor="let tag of script.tags">
            {{tag.name}}
        </li>
    </ul>
    <p *ngIf="!visibleParameters"><em>Loading...</em></p>

    <table mat-table 
           [dataSource]="visibleParameters"
           *ngIf="visibleParameters"
           class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell 
                *matHeaderCellDef> Name </th>
            <td mat-cell
                *matCellDef="let parameter">
                <span [innerHtml]="parameter.name | html"></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell 
                *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let parameter">
                <div *ngIf="parameter.context % (2 * parameterOptions.Editable) >= parameterOptions.Editable">
                    <input *ngIf="parameter.valueOptions.length == 0 || parameter.valueOptionSetting == valueOptionSetting.UserInput"
                           [(ngModel)]="parameter.value"
                           placeholder="value"
                           (change)="setValueChanged(parameter)" />
                    <div class="form-inline"
                         *ngIf="parameter.valueOptions.length > 0 && parameter.valueOptions.length <= 3">
                        <label *ngFor="let valueOption of parameter.valueOptions; index as i">
                            <input type="radio"
                                   value="{{valueOption.value}}"
                                   id="{{parameter.id}}_valueOption{{i}}"
                                   [(ngModel)]="parameter.value"
                                   name="{{parameter.id}}_valueOption{{i}}"
                                   (change)="setValueChanged(parameter)" />
                            <label class="ml-1 mr-3"
                                   for="{{parameter.id}}_valueOption{{i}}">{{valueOption.value }}</label>
                        </label>
                    </div>
                    <select *ngIf="parameter.valueOptions.length > 3"
                            [(ngModel)]="parameter.value"
                            (change)="setValueChanged(parameter)">
                        <option *ngFor="let valueOption of parameter.valueOptions">
                            {{valueOption.value }}
                        </option>
                    </select>
                </div>
                <span *ngIf="parameter.context % (2 * parameterOptions.Calculation) >= parameterOptions.Calculation">{{parameter.value }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="unit">
            <th mat-header-cell
                *matHeaderCellDef>
                Unit
            </th>
            <td mat-cell
                *matCellDef="let parameter">
                <span [innerHtml]="parameter.unit | html"></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell
                *matHeaderCellDef>
                Description
            </th>
            <td mat-cell
                *matCellDef="let parameter">
                {{ parameter.description }}
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="text-center"
         *ngIf="visibleParameters">
        <button (click)="calculate()"
                class="btn btn-primary">
           <span class="fa fa-calculator"></span> Calculate
        </button>
    </div>

    <table mat-table 
           [dataSource]="resultParameters"
           *ngIf="resultParameters && !valueChanged"
           class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell 
                *matHeaderCellDef> Name </th>
            <td mat-cell
                *matCellDef="let parameter">
                <span [innerHtml]="parameter.name | html"></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell 
                *matHeaderCellDef> Value </th>
            <td mat-cell 
                *matCellDef="let parameter">                
                <span *ngIf="parameter.context % (2 * parameterOptions.Calculation) >= parameterOptions.Calculation">{{parameter.value }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="unit">
            <th mat-header-cell
                *matHeaderCellDef>
                Unit
            </th>
            <td mat-cell
                *matCellDef="let parameter">
                <span [innerHtml]="parameter.unit | html"></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell
                *matHeaderCellDef>
                Description
            </th>
            <td mat-cell
                *matCellDef="let parameter">
                {{ parameter.description }}
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            [ngClass]="{'bg-info': isImportant(row)}"
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
